header{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    padding-top: 20px;
    
}
header .navbar .navbar-brand{
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff;
    font-style: italic;
    letter-spacing: 1px;
}

header .navbar .navbar-nav .nav-link{
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    margin: 0 12px;
    transition: all 0.3s ease-in-out;
}
header .navbar .navbar-nav .nav-link:hover{
    color: var(--color-primary);
}
header .navbar-toggler{
    text-decoration: none;
    border: 2px solid white;
    color: white;
    border-radius: 0;
    padding: 2px 5px;
}
header .navbar-toggler:focus{
    box-shadow: none;
}
header .navbar-toggler-icon{
    filter: brightness(10);
}

footer{
    padding-top: 60px;
}

footer .logo{
    font-size : 20px;
    font-weight: bold;
}
footer .footer-title{
    font-size : 20px;
    font-weight: bold;
    margin-bottom: 15px;
}
footer .list{
    list-style: none;
    margin: 0;
    padding: 0;
}
footer .list li{
    list-style-type: none;
    padding-bottom: 10px;
    text-decoration: none;
    color: #70798b;
    font-weight: 500;
    text-transform: capitalize;
    cursor: pointer;

}
footer .list li:hover{
    color: var(--color-primary);
    
}